.relativebox{
    position: relative;
    justify-content: center;
    display: flex;
}
.absolutebox{
    position: absolute;
    bottom: 0;

}
.inputt{
    top: 140px;
    position: absolute;
    
    width: 45%;
    border-radius: 25%;
}
.thebigcont{
    background-color: rgba(238, 245, 255, 1);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headin{
    padding-top: 10px;
    color: rgba(34, 44, 91, 1);
    font-weight: 700;
}
.subhead{
    padding-top: 10px;
    color: rgba(34, 44, 91, 1);
    font-weight: 500;

}
.text-center{
color: rgba(181, 181, 181, 1);
margin-top: 10px;
}
.thebox{
    background-color: rgb(199, 200, 202);
}